package components

templ Base() {
    <!DOCTYPE html>
    <html>
        <head>
            <title>Rate Log</title>  
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <link href="/static/css/output.css" rel="stylesheet"/>
        </head>
        <body class="bg-white font-sans min-h-screen flex flex-col">
        @NavBar()
        <main class="flex-1 flex flex-col">
        { children... }
        </main>
        @Footer()
        </body>
    </html>
}

templ Footer() {
	<footer class="bg-blue-900 text-blue-100 text-sm py-4 px-6 text-center">
		<p>
			Game images and data provided by:
            <a href="https://rawg.io" target="_blank" rel="noopener noreferrer" class="underline hover:text-white">RAWG</a>
		</p>
	</footer>
}
